.loading {
    margin: 0;
    background: linear-gradient(270deg,#ff00aa, #6a009b);
    animation: progress 2s ease;
    height: 0.2em;
}

@keyframes progress {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.stopped {
    display: none;
}